.sobre-justify {
    text-align: justify;
}

.img-depo {
    background-color: white; 
    color: #ff6a00;
    border: 7px solid #ff6a00;
}

.button-test {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.button3 {
    background-color: white; 
    color: #ff6a00;
    border: 2px solid #ff6a00;
}
  
.button3:hover {
    background-color: #ff6a00;
    color: white;
}

.div-depoimento {
    padding-top: 50px;
    padding-bottom: 50px;
}

body,
html {
    
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .container {
    width: 980px;
  }
}

body {
    font-size: 1.2rem;
    font-family: "Simplo Light Italic";
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #ff6a00;
}

hr.light {
  border-color: #fff;
}

a {
  color: #ff6a00;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #ff6a00;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Simplo Light Italic";
}

.bg-primary {
  background-color: #ff6a00 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: "Simplo Light Italic";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #ff6a00;
  font-family: "Simplo Light Italic";
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #ff6a00;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #ff6a00;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #ff6a00 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav img.logo {
    display: none;
  }
  #mainNav img.logo-branco {
    display: block;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }

  #mainNav.navbar-shrink img.logo {
    display: block;
  }

  #mainNav.navbar-shrink img.logo-branco {
    display: none;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #ff6a00;
  }
  #mainNav.navbar-shrink .navbar-brand:focus,
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #ff6a00;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #ff6a00;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header.jpg");
  background-position: center center;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 3rem;
}

header.masthead p {
  font-weight: 400;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 5rem;
  }
}

.service-box {
  max-width: 400px;
}

.text-primary {
  color: #ff6a00 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 15px;
  font-family: "Simplo Light Italic";
}

/* TESTES */

.btn-branco {
    color: #fff !important;
}

.btn-laranja {
    color: #ff6a00 !important;
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }

  .bounce i {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }










/*------------------------------------*\
	Team
\*------------------------------------*/

.team {
    position: relative;
    background-color: white; /* #ff6a00;*/
    padding: 40px 20px;
    margin: 15px 0px;
    border-radius: 15px;
}

.team::after {
    content: "";
    background-color: #1C1D21;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0%;
    z-index: 1;
    -webkit-transition: 0.2s height;
    transition: 0.2s height;
    border-radius: 8px;
}

.team:hover:after {
    height: 100%;
}

.team-img {
    position: relative;
    margin-bottom: 20px;
    z-index: 11;
}

.team-img>img {
  width: 100%;
  border-radius: 8px;
}

.team .overlay {
    background: #1C1D21;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.teste-play {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
}

.team:hover .overlay {
    opacity: 0.8;
}

.team .team-content {
    text-align: center;
    position: relative;
    z-index: 11;
}

.team .team-content h3 {
    margin-bottom: 10px;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.team .team-content span {
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.team:hover .team-content h3 {
    color: #FFF;
}

.team:hover .team-content span {
    color: #ff6a00;
}

.team .team-social {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.team .team-social a {
    display: block;
    line-height: 50px;
    width: 50px;
    text-align: center;
    background-color: #ff6a00;
    color: #FFF;
}

.team:hover .team-social {
    opacity: 1;
}  













.popup__overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(53, 36, 22, 0.95);
    text-align: center;
    z-index: 100;
  }
  
  .popup__overlay:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: "";
  }
  
  .popup {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 640px;
    max-height: 480px;
    padding: 20px;
    border: 1px solid black;
    background: black;
    color: white;
    vertical-align: middle;
  }
  
  .popup-form__row {
    margin: 1em 0;
  }
  
  .popup__close {
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 12px;
    height: 12px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: rgba(53, 36, 22, 0.95);
    text-decoration: none;
    font-weight: bold;
  }
  
  .popup__close:hover {
    color: #eea200;
  }
  
  iframe {
    width: 100%;
    height: 100%;
  }
  
  /* other styles */
  
  input[type="button"] {
    border: none;
    padding: 0.5em;
    background-color: yellow;
  }
  
  input[type="button"]:hover {
    background-color: yellowgreen;
  }
  